.profile-from-card {
  background-color: white !important;
}

.profile-image-preview {
  width: 265px;
  height: 290px;
  border-radius: 12px;
  background-position: center center;
  background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}
.profile-input-postfix-container {
  margin-top: 27.5px;
}
.profile-save-button {
  border-radius: 20px;
  margin-top: 10px;
}
.profile-input-postfix {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #2D78FA;
  cursor: pointer;
}
